
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the Human Resources Portal for Real Akron F.C.</h2>
<img src ="http://www.kansascity.com/sports/mls/fc-kansas-city/fsv66s/picture87443212/ALTERNATES/LANDSCAPE_1140/soccer%20stock"/>

